* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0f1a;
  color: white;
}

/* Header */

header {
  text-align: center;
  padding: 60px 20px 30px;
}

header h1 {
  font-size: 3rem;
}

header p {
  opacity: 0.6;
  margin: 8px 0 20px;
}

/* Search */

#search {
  padding: 12px;
  width: 260px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Categories */

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.categories button {
  background: #12182a;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.categories button:hover {
  background: #1e293b;
}

/* Grid */

.game-grid {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

/* Cards */

.game-card {
  background: #12182a;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.game-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.game-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.game-card span {
  display: block;
  padding: 14px;
  font-weight: 600;
  text-align: center;
}

/* Footer */

footer {
  text-align: center;
  padding: 30px;
  opacity: 0.5;
  font-size: 14px;
}
